{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "proseWrap": "never",
        "printWidth": 300,
        "tabWidth": 2
      }
    },
    {
      "files": "*.js",
      "options": {
        "proseWrap": "never",
        "printWidth": 300,
        "tabWidth": 2
      }
    }
  ]
}